  <div class='nested-fields'>
    <div class="field">
      <%= f.label :titre %>
      <%= f.text_field :titre %>
    </div>
    <%= link_to_remove_association "supprimer l'ingrédient", f %>
  </div>